<div class="container ms-1">
    <div class="row">
        <p class="fw-bold m-0">Departments</p>
        <button class="m-0 filter-btn" *ngFor="let dept of departments">{{dept}}</button>
       
    </div>
    <div class="row">
        <p class="fw-bold m-0 mt-2">Offices</p>
        <button class="m-0 filter-btn" *ngFor="let office of offices">{{office}}</button>
    </div>
    <div class="row">
        <p class="fw-bold m-0 mt-2">Job Titles</p>
        <button class="m-0 filter-btn" *ngFor="let jobTitle of jobTitles">{{jobTitle}}</button>
    </div>

</div>