<div class="container">
    <div class="row">
        <p class="fw-bold">Departments</p>
        <ul>
            <li>Light side</li>
            <li>Dark side</li>
        </ul>
    </div>
    <div class="row">
        <p class="fw-bold">Offices</p>
        <ul>
            <li>Palpatina</li>
            <li>Pandora</li>
        </ul>
    </div>
    <div class="row">
        <p class="fw-bold">Job Titles</p>
        <ul>
            <li>Jedi</li>
            <li>Apprentice</li>
        </ul>
    </div>

</div>