<div class="container">
    <div class="row">
        <div class="col my-2 me-4">
            <img src="../../../assets/images/saketa-logo.jpg" class="images"/>
        </div>
        <div class="col-8">
            <h2 class="row display-6 text-secondary">Employee Directory</h2>
            <p class="row">An ultimate people directory experience.</p>
        </div>
        <div class="col my-auto d-flex justify-content-end">
            <h5 class="my-auto">Welcome, {{username}}</h5>
            <img class="images rounded-circle" src="../../../assets/images/andrew-philips.png"/>
        </div>
    </div>
</div>