.clear-btn
{
    background-color: forestgreen;
    color:white;
    border:none;
    height: 35px;
}

.clear-btn:hover
{
    background-color: white;
    color: forestgreen;
    transition-duration: 200ms;
    border:2px solid forestgreen;
}

.add-employee-btn
{
    background-color: deepskyblue;
    color:white;
    border:none;
    height: 35px;
    
}
.add-employee-btn:hover
{
    background-color: white;
    color:deepskyblue;
    border:2px solid deepskyblue;
    transition-duration:200ms;
}