<div class="container">
    <div class="row">
        <app-buttonsfilter></app-buttonsfilter>
    </div>
    <div class="row my-2">
        <div class="col-3">
            <input class="form-control form-control-sm" type="search" placeholder="search...">
        </div>
        <div class="col-3 mx-1">
            <span class="col-6">Filter by </span>
            <select class="form-control-sm col-6">
                <option>Name</option>
                <option>Department</option>
                <option>Office</option>
                <option>Job Title</option>
            </select>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <button class="btn btn-primary">Add Employee</button>
        </div>
    </div>
</div>